form{
    margin: 10mm auto;
    width: 400px;
    padding: 5em;
    border: 1px solid #ccc;
    border-radius: 1em;
}
form div + div{
    margin-top: 1em;
}
label{
    display: inline-block;
    width: 9vw;
    text-align: right;
}